@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --font-principal: 'Google Sans', sans-serif;
    --cor-background: #16121a;
    --cor-secundaria: rgba(255, 255, 255, 0.123);
    --cor-botao: #40017a;
    --cor-texto: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: linear-gradient(to bottom right, oklch(20.5% 0 0) 60%, #221133); */
    /* background-image: url('../public/background.jpg'); */
    background-color: var(--cor-background);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid #fffefe9c;
    border-radius: 15px;
    background: oklch(20.463% 0.00002 271.152 / 0.534);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.login_form h1 {
    margin-bottom: 50px;
}

.login_form h1, .registration_form h1 {
    font-size: 2em;
    color: var(--cor-texto);
    text-align: center;
}

.login_form, .registration_form {
    position: absolute;
    width: 100%;
    padding: 40px;
    transition: transform 0.5s ease; /* Animação entre as abas */
}

.login_form {
    /* ficar no centro por padrão */
    transform: translateX(0); 
}

.title {
    font-family: var(--font-principal);
    font-weight: bold;
}

.text {
    font-family: var(--font-principal);
    color: var(--cor-texto);
}

.registration_form {
    /* ficar escondido na direita por padrão */
    transform: translateX(400px); 
}

.caixa.active .login_form {
    /* deslizar o login para a esquerda */
    transform: translateX(-400px); 
}

.caixa.active .registration_form {
    /* deslizar cadastro para o centro */
    transform: translateX(0);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.1em;
    color:var(--cor-texto);
    font-weight: 500 ;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: var(--cor-secundaria);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    outline: none;
    padding: 0 5px;
    font-size: 1rem;
    color: var(--cor-texto);
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.remember_password {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
}

.remember_password a {
    color: var(--cor-texto);
    text-decoration: none;
}

.register,  .login {
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
}

.register a, .login a {
    color: var(--cor-texto);
    text-decoration: none;
}

.register a:hover, .login a:hover, .remember_password a:hover {
    text-decoration: underline;
    color: rgb(137, 71, 241);
}

.register p, .login p {
    color: var(--cor-texto);
}
button {
    width: 100%;
    height: 45px;
    background: var(--cor-botao);
    border: none;
    outline: none;
    color: var(--cor-texto);
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #28014d;
}

